<h1>Songs in Playlists</h1>
<table class="table">
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Playlist Name</strong></td>
  </tr>
  <% @playlists.each do |playlist| %>
    <tr>
        <td><%= link_to playlist.name, playlist_path(playlist) %></td>
       </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to "Back to Playlists", playlists_path %></p>
