@import "bootstrap/scss/bootstrap";

.field_with_errors, .center_alert {
  border: 1px #f00;
  background-color: #fdd;
}

body  {
  background-image: url("https://giphy.com/gifs/justin-purple-confetti-Hh9sPYeSWhAUx6NDBM");
}

#git_page_btn {
  color:white;
  display: flex;  
  justify-content: center;  
  align-items: center;
}

.white {
  color:white
}
